@media screen and (max-width: 650px){
    header .container {
        display: flex;
        flex-direction: column;
    }

    .netflix-icon {
        margin-right: 70px;
    }

    .botao {
        margin-top: 5px;
        width: 300px;
    }
}

@media screen and (min-width: 1000px){
    .descricao {
        width: 50%
    }
}